/* General Settings */
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Tajawal', sans-serif;
	direction: rtl;
	overflow-x: hidden;
}

img {
  pointer-events: none
}

/* Loader */
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,1);
  transition: 1s 0.5s;
}

#progress{
  height:3px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}

#progstat{
	font-weight: 400;
	font-size: 1rem;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

.fixed-top {
	transition: linear 0.5s;
}

.navbar {
	background-color: rgba(0,0,0,0);
	overflow-x: hidden;
  }
  
  .logo {
	  margin-top: 20px;
  }
  
  .logo img {
	  width: 65px;
	  height: 65px;
	  animation-name: hover-up-web;
	  animation-duration: 1.5s;
  }
  
  .nav-link {
	font-weight: 400;
	font-size: 1rem;
	text-align: center;	
	color: #D2D2D2;
	transition: color 0.5s
  }

.hero {
  width:100%;
  height:100vh;
  background: url('content/hero-bg.webp');
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  background-blend-mode: multiply;
  overflow-x: hidden;
}

.personal {
	text-align: left;
}

.personal img {
	animation-name: hover-left-web;
	animation-duration: 1.5s;
	border-radius: 0 5rem 0 5rem;
}

.name {
	font-weight: 700;
	font-size: 2.75rem;
	text-align: right;	
	color: #D2D2D2;
	padding-bottom: 5px;
	animation-name: hover-right-web;
	animation-duration: 1s;
}

.bio {
	font-weight: 700;
	font-size: 1.25rem;
	text-align: right;	
	color: #D2D2D2;
	padding-top: 5px;
	padding-bottom: 10px;
	animation-name: hover-right-web;
	animation-duration: 1.5s;
}

.social {
	font-size: 1.6875rem;
	text-align: right;	
	direction: ltr;
	padding-top: 10px;
	transition: color 0.5s;
	animation-name: hover-right-web;
	animation-duration: 2s;
}

.social a {
	color: #D2D2D2;
	text-decoration: none;
	margin-left: 8px;
}

@keyframes hover-right-web {
  from {transform: translateX(-200px); opacity: 0;}
  to {transform: translateX(0px); opacity: 1;}
}

@keyframes hover-left-web {
	from {transform: translateX(200px); opacity: 0;}
	to {transform: translateX(0px); opacity: 1;}
}

@keyframes hover-up-web {
	from {transform: translateY(-300px); opacity: 0;}
	to {transform: translateY(0px); opacity: 1;}
}

.fa-facebook {
	color: #D2D2D2;
	transition: color 0.5s;
}
.fa-facebook:hover {
	color: #3b5998;
	transition: color 0.5s;
}
.fa-twitter {
	color: #D2D2D2;
	transition: color 0.5s;
}
.fa-twitter:hover {
	color: #1da1f2;
	transition: color 0.5s;
}
.fa-linkedin-in {
	color: #D2D2D2;
	transition: color 0.5s;
}
.fa-linkedin-in:hover {
	color: #0077b5;
	transition: color 0.5s;
}
.fa-youtube {
	color: #D2D2D2;
	transition: color 0.5s;
}
.fa-youtube:hover {
	color: #ff0000;
	transition: color 0.5s;
}
.fa-instagram {
	color: #D2D2D2;
	transition: color 0.5s;
}
.fa-instagram:hover {
	color: #e1306c;
	transition: color 0.5s;
}
.fa-square-snapchat {
	color: #D2D2D2;
	transition: color 0.5s;
}
.fa-square-snapchat:hover {
	color: #fffc00;
	transition: color 0.5s;
}
.fa-500px {
	color: #D2D2D2;
	transition: color 0.5s;
}
.fa-500px:hover {
	color: #0099e5;
	transition: color 0.5s;
}

.ov {
	position: fixed;
	right: -150px;
	height: 100vh;
	opacity: 0.25;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}



/* L */
@media screen and (max-width: 1200px) {
	.name {
	font-family: 'Tajawal', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	text-align: right;	
	color: #D2D2D2;
	padding-bottom: 5px;
}

.bio {
	font-family: 'Tajawal', sans-serif;
	font-weight: 700;
	font-size: 1.25rem;
	text-align: right;	
	color: #D2D2D2;
	padding-top: 5px;
	padding-bottom: 10px;
}

.social {
	font-size: 1.6875rem;
	text-align: right;	
	direction: ltr;
	padding-top: 10px;
}}

/* MD */
@media screen and (max-width: 992px) {
	.name {
	font-family: 'Tajawal', sans-serif;
	font-weight: 700;
	font-size: 1.875rem;
	text-align: right;	
	color: #D2D2D2;
	padding-bottom: 5px;
}

.bio {
	font-family: 'Tajawal', sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	text-align: right;	
	color: #D2D2D2;
	padding-top: 5px;
	padding-bottom: 10px;
}

.social {
	font-size: 1.45rem;
	text-align: right;	
	direction: ltr;
	padding-top: 10px;
}}

/* XS-S */
@media screen and (max-width: 767px) {
.logo img {
	width: 50px;
	height: 50px;
}

.personal {
	text-align: center;
}

.img-fluid {
	width: 175px;
}

.name {
	font-family: 'Tajawal', sans-serif;
	font-weight: 700;
	font-size: 1.25rem;
	text-align: center;	
	color: #D2D2D2;
	padding-top: 10px;
	padding-bottom: 5px;
}

.bio {
	font-family: 'Tajawal', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;	
	color: #D2D2D2;
	padding-top: 5px;
	padding-bottom: 5px;
}

.social {
	font-size: 1.45rem;
	text-align: center;	
	direction: ltr;
	padding-top: 5px;
	animation-name: hover-right-mobile;
	animation-duration: 2;
}}